.title {
    font-size: 24px;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: -0.4px;
}
  
.headline {
    font-size: 20px;
    font-weight: 500;
    line-height: 24.2px;
}

.footnote {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.4px;
}

.caption {
    font-size: 13px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.4px;
}

.ref-counter {
    font-size: 36px;
    font-weight: 900;
    line-height: 17px;
    letter-spacing: -0.4px;
}
  
.balance {
    font-size: 48px;
    font-weight: 800;
    line-height: 17px;
    letter-spacing: -0.4px;
}